<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <rosparam command="load" file="$(find robot_control)/config/car_control.yaml" ns="/test_robot2_assem" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/test_robot2_assem" 
      args="joint1_position_controller joint2_position_controller joint_state_controller" />
</launch>
